<h1>Bookmarks:</h1>
<div>
    <% url.map((url, index) => { %>
<p id ="bookmark-<%= index %>"> <%= url.url %></p>
        <form method="POST" action='/start/<%= url.id%>?_method=DELETE'>
            <input type="submit" value="Delete" name="deleteSubmit">
        </form>
    <% }) %>


</div>


<form action="/start" method=POST>
<input type="text" name="bookmark" id="enterBookmark" placeholder="Enter Bookmark">
<input type="submit" value="Submit" id="submitBookmark">
</form>
<br>
<form action="/refresh" method="POST">
<input type="submit" value="Clear Bookmarks" id="truncateButton">
</form>
